:root {
    --primary-color: #232422;
    --secondary-color: #ADFF19;
    --tertiary-color: #75a816;
    --default-color: #212529;
    --gray-background-color: rgba(33, 37, 41, .05);
}

.landing-container {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

.landing-container a {
    color: var(--secondary-color);
    text-decoration: none;
}

.landing-container a:hover {
    color: var(--tertiary-color);
    text-decoration: none;
}

.landing-container h1,
.landing-container h2,
.landing-container h3,
.landing-container h4,
.landing-container h5,
.landing-container h6 {
    font-family: "Jost", sans-serif;
}

.landing-container section {
    padding: 60px 0;
    overflow: hidden;
}

.landing-container .section-bg {
    background-color: var(--gray-background-color);
}

.landing-container .text-primary {
    color: var(--primary-color) !important;
}

.landing-container .text-secondary {
    color: var(--secondary-color) !important;
}
